# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\JetBrain Project Files\Pycharm\anomaly-detection-challange\anomaly-detection-in-endoscopic-imagery\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
